body {
    margin: 0;
}

.header {
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    overflow: none;
    list-style-type: none;
    padding: 0;
}

.header li {
    padding: 0;
    width: 30%;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.section {
    padding: 5% 20% 5% 20%;
}

.section-one {
    display: flex;
    justify-content: space-between;
    background: #1f2937;
}

.one-left {
    width: 45%;
}

.one-left p {
    margin-top: 0;
    margin-bottom: 2%;
}

.one-right {
    width: 45%;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button {
    color: white;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 125px;
}

.section-two {
    background-color: #f9faf8;
    text-align: center;
}

.section-two-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.illustrations {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 15%;
}

.card-img {
    height: 100px;
    width: 100%;
    border: solid;
    border-radius: 10px;
    border-color: #3882f6;
}

.section-three {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.attribution {
    font-size: 24px;
    text-align: right;
    font-weight: bold
}